<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(ForumMessenger.Resources.Resource.Message_Exchange, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav nav-pills">
                    <li class="active">@Html.ActionLink(ForumMessenger.Resources.Resource.Homepage, "Index", "Home")</li>
                    <li>@Html.ActionLink(ForumMessenger.Resources.Resource.CreateMessage, "CreateMessage", "Home")</li>
                    <li>@Html.ActionLink(ForumMessenger.Resources.Resource.Chat_List, "ListChats", "Home")</li>
                    <li>@Html.ActionLink(ForumMessenger.Resources.Resource.ListUsers, "ListUsers", "Account")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink(ForumMessenger.Resources.Resource.Login + ": " + User.Identity.Name + " " + ForumMessenger.Resources.Resource.Log_Out, "Logoff", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(ForumMessenger.Resources.Resource.You_are_not_authorised, "Login", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div style="padding:5px">
        @{
            foreach (var item in ForumMessenger.Models.LangManager.AvailableLanguages)
            {
                @Html.ActionLink(item.LanguageFullName, "ChangeLanguage", "Home", new { lang = item.LanguageCultureName }, null)<text></text>
            }
        }
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
