@model ForumMessenger.Models.CreateMessageModel

@{
    ViewBag.Title = ForumMessenger.Resources.Resource.CreateMessage;
}

<h2>@ForumMessenger.Resources.Resource.CreateMessage</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DstUserLogin, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.DstUserLogin, ViewBag.List as IEnumerable<SelectListItem>, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DstUserLogin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=@ForumMessenger.Resources.Resource.Send class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink(@ForumMessenger.Resources.Resource.Return, "Index", "Home")
</div>