@model IEnumerable<ForumMessenger.Models.Chat>

@{
    ViewBag.Title = ForumMessenger.Resources.Resource.Chat_List;
}

<h2>@ForumMessenger.Resources.Resource.Your_login: <b>@Context.User.Identity.Name</b></h2>
<br />
<h4>@ForumMessenger.Resources.Resource.Chat_List</h4>
<table class="table table-striped">
    <tr>
        <th>
            @ForumMessenger.Resources.Resource.From
        </th>
        <th>
            @ForumMessenger.Resources.Resource.To
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserSrc.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDst.Login)
            </td>
            <td>
                @Html.ActionLink(ForumMessenger.Resources.Resource.Read, "ListMessages", new { id = item.Id }, new { @class = "btn btn-default" }) |
                @Html.ActionLink(ForumMessenger.Resources.Resource.Delete, "DeleteChat", new { id = item.Id }, new {@onclick= "return confirm('Confirm delete! Подтвердите удаление!')", @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

