@model ForumMessenger.Models.Chat

@{
    ViewBag.Title = ForumMessenger.Resources.Resource.ListMessages;
}

<h2>Чат @Html.DisplayFor(model => model.UserSrc.Login) - @Html.DisplayFor(model => model.UserDst.Login)</h2>

<table class="table table-striped">
    <tr>
        <th>
            @ForumMessenger.Resources.Resource.Message
        </th>
        <th>
            @ForumMessenger.Resources.Resource.Date_and_time
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Messages)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>                
                @Html.ActionLink(ForumMessenger.Resources.Resource.Delete, "DeleteMessage", new { id = item.Id }, new {onclick= "return confirm('Confirm delete! Подтвердите удаление!')", @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink(@ForumMessenger.Resources.Resource.Return, "ListChats")
</div>


