
@{
    ViewBag.Title = @ForumMessenger.Resources.Resource.UnAuthorized;
}

    <h2>@ForumMessenger.Resources.Resource.UnAuthorized</h2>
<p>@ForumMessenger.Resources.Resource.You_do_not_have_permission_to_access_this_page</p>

<div>
    @Html.ActionLink(@ForumMessenger.Resources.Resource.Return, "Index", "Home")
</div>